# Types of Operator

- Arithmetic Operators
- Comparison (Relational) Operators
- Assignment Operators 
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

## Arithmetic Operators

+ Addition
- Subtraction
* Multiplication
/ Divide
// Floor Division
** Power
% Modulus

In [2]:
5 + 7 #integer

12

In [4]:
4.7 + 2.1 #float

6.800000000000001

In [6]:
"Ishra " + "Hussain" #string

'Ishra Hussain'

In [7]:
['a', 'b'] + ['c', 'd'] #list

['a', 'b', 'c', 'd']

In [9]:
('a', 'b') + ('c', 'd') #tuple

('a', 'b', 'c', 'd')

In [17]:
234 - 23

211

In [11]:
54.4 - 4.5

49.9

In [3]:
{2,5,4} - {5,6, 4} #set

{2}

In [13]:
32 * 33

1056

In [18]:
"i" * 3

'iii'

In [20]:
["d" , "g"] * 2

['d', 'g', 'd', 'g']

In [22]:
3 ** 3 # 3 power 3

27

In [23]:
30 / 5

6.0

In [25]:
45 / 2

22.5

In [26]:
34 / 2.2

15.454545454545453

In [27]:
11 / 3

3.6666666666666665

In [29]:
11 // 3 #floor ignores values after point

3

In [30]:
25 % 2 #modulus is remider after division

1

In [31]:
11 % 3

2

## Comparison (Relational) Operators

Compares two values and return either true or false
== equal to
>  greater than
<  less than
>= greather than or equal
<= less than or equal
!= not equal
<> not equal

In [40]:
"Ishra" == "ishra"  # compares left to right

False

In [34]:
'ishra' == "ishra" # both are string and same

True

In [36]:
2 == 2.0 # datatype different but value is same

True

In [37]:
a = 2
b = 2
a == b

True

In [38]:
'2' == 2

False

In [39]:
89 > 67

True

In [42]:
6 > 20

False

In [43]:
10 > 10

False

In [44]:
10 >= 10

True

In [45]:
"A" > "B"

False

In [50]:
"B" > "A"

True

ascii
65=A -> 90=Z
97=a ->  122=z
48=0 -> 57=9

In [51]:
ord("A")

65

In [52]:
chr(65)

'A'

In [53]:
chr(48)

'0'

In [54]:
hex(48)

'0x30'

In [58]:
chr(66) > chr(65) # B > A

True

In [57]:
2 <= 3

True

In [60]:
'ISHRA' != 'ishra' #not equal

True

In [66]:
2 != 2

False

## Assignment Operators

=   assigns value
+=  addition to previous value
-=
*=
**=
/=
//=
%=

In [69]:
a = 5
a = 0
a = 9 #over write, assigns latest value
print(a)

9

In [70]:
a = 1 
a += 2 # a = a + 2 
a += 3
a += 4
print(a)

10

In [72]:
a = 10
a -= 2 # a = a -2 = 8
a -= 3 #5
a -= 1 #4
print(a)

4

In [73]:
a = 1 
a *= 2 # a = a * 2 = 2
a *= 3 #6
a *= 4 #24
print(a)

24

In [82]:
a = 2 
a **= 2 # a = a ^ 2 = 4
a **= 3 #64
print(a)

64

In [75]:
a = 100
a /= 5 # a = a /5 = 20
a /= 2 #10
print(a)

10.0

In [84]:
a = 100
a //= 3 # a
a //= 2 #
print(a)

16

In [4]:
a = 100
a %= 3 # 
a %= 2 #
a %= 4
print(a)

1

In [86]:
a = "A"
a += "B" # a = a + "B"
a += "C"
print(a)

ABC

In [88]:
a = "A"
a *= 3 
print(a)

AAA

## Logical Operators

and = & all conditions necessary
or = |  optional
not = !=

In [91]:
user="ishra"
password="ishra123"
print(user == "ishra" and password == "ishra123")
print(user == "ishra" and password == "123")

True
False

In [112]:
user="ishra"
password="ishra123"
print((user == "ishra") & (password == "ishra123")) #brackets are necessary for using symbols
print((user == "ishra") & (password == "123"))
True & True

True
False

True

In [97]:
user="ishra"
password="ishra123"
print(user == "ishra" or password == "ishra123")
print(user == "ishra" or password == "123")
print(user == "sara" or password == "123")

True
True
False

In [108]:
user="ishra"
password="ishra123"
print((user == "ishra") | (password == "ishra123"))
print((user == "ishra") | (password == "123"))
print((user == "sara") | (password == "123"))

True
True
False

In [104]:
a = 2
b = 4
c = 3
a == 2 and b == 4 and c == 3

True

In [119]:
user = input("UserName: ")
password = input("Password: ")
((user == "ishra") | (user == "admin") | (user == "sara")) & \
(password == "123")

UserName: ishra
Password: 890

False

In [120]:
not(True)

False

In [124]:
user = input("UserName: ")
password = input("Password: ")
not(user == "ishra")  & (password == "123") #allow anyone except ishra

UserName: bushra
Password: 123

True

## Bitwise Operators

Conversion to binary is by LCM with 2
256, 128, 64, 32, 16, 8, 4, 2, 1
11101 = 1+4+8+16 = 29
11100=  4+8+16 = 28

and  &
or  |
xor  ^

In [126]:
bin(65) #binary of 65 decimal

'0b1000001'

In [129]:
"""
and operator:

11101 = 29
11100 = 28
----------
11100 = 28

"""
29 & 28 #bitwise operator

28

In [131]:
"""
or operator:

11101 = 29
11100 = 28
----------
11101 = 29

"""
29 | 28

29

In [134]:
"""
xor operator:

11101 = 29
11100 = 28
----------
00001 = 1

"""
29 ^ 28

1

In [135]:
#11101__
29<<2
#1110100 left shift

116

In [138]:
#__11101
29>>2
#00111 right shift

7

In [141]:
#1+8+16= 110011
25<<2
#    11001100

100

In [140]:
#110011
25>>2
#00110

6

## Membership Operators

in operator

In [6]:
employees = ["ishra", "bushra","nadia", "ijaz"]
for employee in employees:
    if employee == "ishra":
        print(True)

True

In [7]:
'ishra' in employees

True

In [8]:
name =  input("Name: ")
name in employees

Name: sara

False

## Identity Operators

is operator

In [157]:
a= "5"
b= 5
c= a

print(a is b)
print(a is c)

False
True

## Control Flow

- if, else, elif

if Logic:
        code run if lofic true
else:
        code run if logic false

In [161]:
if True:
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
else:
    print("Live Long")

Pakistan
Pakistan
Pakistan

In [160]:
if False:
    print("Pakistan")
else:
    print("Live Long")

Live Long

Comprehensive style of if/else
True_block if logic else false_block

In [162]:
"Pakistan" if True else "Live Long"

'Pakistan'

In [165]:
print("Pakistan") if False else print("Live Long")

Live Long

In [169]:
user= input("UserName: ") #username, email or phone
password= input("Password: ") #123
if ((user == "ishra" or user == "ishra@gmail.com" or user=="12345") and password == "123"):
    print("Login Success")
else:
    print("Login Failed")

UserName: ishra
Password: 123
Login Success

In [ ]:
list all methods and attributes