# Lists and Tuple

In [1]:
# in list we can keep heterogenous (different types of data i.e. string, integer etc.), data is mutable(can be changed)
# list used to create database
# data in tuple is immutable
dir(list) #methods of lists

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [4]:
#index     -5      -4       -3          -2     -1
names= ["ishra", "ayesha", "sara", "gazala", "amna"]
#index    0        1          2        3       4
print(names)

['ishra', 'ayesha', 'sara', 'gazala', 'amna']

In [5]:
#slicing list[start:end:step]
names[1:3:1]

['ayesha', 'sara']

In [7]:
names=[]
names

[]

In [8]:
names.append("A") #to add elements to list append it
names.append("B")
names.append("C")
names

['A', 'B', 'C']

In [16]:
names.clear() #clear all values of list permanently from memory
names

[]

In [17]:
names.append("A") #to add elements to list append it
names.append("B")
names.append("C")
names

['A', 'B', 'C']

In [18]:
names1=names #shallow copy, copy by reference 
names1

['A', 'B', 'C']

In [19]:
names.append("D") 
names1

['A', 'B', 'C', 'D']

In [20]:
names2=names.copy() #deep copy, copy by value
names2

['A', 'B', 'C', 'D']

In [21]:
names.append("E") 
names2

['A', 'B', 'C', 'D']

In [22]:
names.append("A") 
names

['A', 'B', 'C', 'D', 'E', 'A']

In [23]:
names.count("A") #Return number of occurrences of value.

2

In [24]:
names.extend(["L", "N", "O", "Y"])

In [25]:
names

['A', 'B', 'C', 'D', 'E', 'A', 'L', 'N', 'O', 'Y']

In [26]:
l1=["1", "2", "3"]
l2=["A", "B", "C"]
l3 = l1 + l2 # in line operation l1 and l2 remain same
l3

['1', '2', '3', 'A', 'B', 'C']

In [29]:
l1=["1", "2", "3"]
l2=["A", "B", "C"]
l3 = l1.extend(l2) # extend is in memory operation, extend doesnt return anything it is non return function
print(l1)
print(l2)
print(l3)

['1', '2', '3', 'A', 'B', 'C']
['A', 'B', 'C']
None

In [32]:
print(names)
names.index("A") #Return first index of value.

['A', 'B', 'C', 'D', 'E', 'A', 'L', 'N', 'O', 'Y']

0

In [33]:
names.index("C")

2

In [36]:
names.index("A", 2)

5

In [37]:
names.insert(5, "F") # names.insert(index, object, /)
# Insert object before index. object means anytype tuple, dictionary, list etc.
names

['A', 'B', 'C', 'D', 'E', 'F', 'A', 'L', 'N', 'O', 'Y']

In [38]:
names.pop() #Remove and return item at index (default last).
names

['A', 'B', 'C', 'D', 'E', 'F', 'A', 'L', 'N', 'O']

In [41]:
names= ['A', 'B', 'C', 'D', 'E', 'F', 'A', 'L', 'N', 'O']
popped_name= names.pop(6) #can be used to create to do list, pop returns value, del doesnt return value
print(popped_name)
names

A

['A', 'B', 'C', 'D', 'E', 'F', 'L', 'N', 'O']

In [43]:
names= ['A', 'B', 'C', 'D', 'E', 'F', 'A', 'L', 'N', 'O']
names.remove('L') # Remove first occurrence of value.
names

['A', 'B', 'C', 'D', 'E', 'F', 'A', 'N', 'O']

In [45]:
names= ['A', 'B', 'C', 'D', 'E', 'F', 'A', 'L', 'N', 'O']
names.remove('A') 
names

['B', 'C', 'D', 'E', 'F', 'A', 'L', 'N', 'O']

In [46]:
names = ['A', 'B', 'C', 'D', 'E', 'F', 'A', 'L', 'N', 'O']
names.reverse() #Reverse *IN PLACE*. does right to left
names

['O', 'N', 'L', 'A', 'F', 'E', 'D', 'C', 'B', 'A']

In [47]:
names = ['A', 'B', 'C', 'D', 'E', 'F', 'A', 'L', 'N', 'O']
names.sort()
names

['A', 'A', 'B', 'C', 'D', 'E', 'F', 'L', 'N', 'O']

In [49]:
names = ['A', 'B', 'C', 'D', 'E', 'F', 'A', 'L', 'N', 'O']
names.sort(reverse= True)
names

['O', 'N', 'L', 'F', 'E', 'D', 'C', 'B', 'A', 'A']

In [52]:
names = ['A', 'B', 'C', 'D', 'E', 'F', 'A', 'L', 'N', 'O']
print(names+ ['X', 'Y', 'Z']) #in line operation
print(names.__add__(['X', 'Y', 'Z'])) # in line operation
names

['A', 'B', 'C', 'D', 'E', 'F', 'A', 'L', 'N', 'O', 'X', 'Y', 'Z']
['A', 'B', 'C', 'D', 'E', 'F', 'A', 'L', 'N', 'O', 'X', 'Y', 'Z']

['A', 'B', 'C', 'D', 'E', 'F', 'A', 'L', 'N', 'O']

In [53]:
names = ['A', 'B', 'C', 'D', 'E', 'F', 'A', 'L', 'N', 'O']

print(names.__class__())

<class 'list'>

In [54]:
names = ['A', 'B', 'C', 'D', 'E', 'F', 'A', 'L', 'N', 'O']
print(names.__contains__('D'))

True

In [56]:
l1=["1", "2", "3"]
l2=["A", "B", "C"]
print(l1.__eq__(l2)) #checks if lists are equal

False

In [60]:
l1=[1, 2, 3]
l2=[4, 5, 6]
print(l1.__ge__(l2)) #checks greater than equal
print(l2.__ge__(l1))

False
True

In [62]:
l1=[1, 2, 3, 5, 6]
print(l1.__len__()) # gives length
print(len(l1))

5
5

# LOOPS

In [63]:
# loop: for repetatition
# function: to stop repetition

In [64]:
["Pakistan"] * 3 #one way of repeatition

['Pakistan', 'Pakistan', 'Pakistan']

In [65]:
#loop are of two types: for loop and while loop

#counter
#logic
#increment/ decrement

## While and For Loop

In [68]:
counter = 1
while counter<= 10: #counter<= 10 returns true or false
    print("Pakistan ", counter)
    counter+=1

Pakistan  1
Pakistan  2
Pakistan  3
Pakistan  4
Pakistan  5
Pakistan  6
Pakistan  7
Pakistan  8
Pakistan  9
Pakistan  10

In [71]:
#i = 1
for i in range(1,11):
    print('Pakistan ', i)

Pakistan  1
Pakistan  2
Pakistan  3
Pakistan  4
Pakistan  5
Pakistan  6
Pakistan  7
Pakistan  8
Pakistan  9
Pakistan  10

In [73]:
counter = 100
while counter>= 90: #counter<= 10 returns true or false
    print("Pakistan ", counter)
    counter-=1 # decrement

Pakistan  100
Pakistan  99
Pakistan  98
Pakistan  97
Pakistan  96
Pakistan  95
Pakistan  94
Pakistan  93
Pakistan  92
Pakistan  91
Pakistan  90

In [74]:
# for(counter:logic:increment) in previous languages
# for variable in range(start, end) in python

In [80]:
[('Pakistan ', x) for x in range(1,11) ]   #list comprehensive style

[('Pakistan ', 1),
 ('Pakistan ', 2),
 ('Pakistan ', 3),
 ('Pakistan ', 4),
 ('Pakistan ', 5),
 ('Pakistan ', 6),
 ('Pakistan ', 7),
 ('Pakistan ', 8),
 ('Pakistan ', 9),
 ('Pakistan ', 10)]

In [81]:
for i in range(1,11):
    print(2, 'X', i, "=", 2*i)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [85]:
for i in range(1,11):
    print("2 X " + str(i) + " = " + str(2*i)) #concatenation, by type casting to string

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [87]:
["2 X " + str(i) + " = " + str(2*i) for i in range(1,11)] #list comprehensive style

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '2 X 10 = 20']

# Tuple

In [88]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [93]:
a=(1,2,3,4,5,6,1,7,2,6,3,2)
print(a.count(1)) #Return number of occurrences of value.
a.index(7)

2

7

In [3]:
#Perform a task where you take multiple input from user about name, fname, contact number and 
#continue adding data to list as long as they want to continue
name=[]
fname=[]
number=[]
more="y"
while more == "y":
    name1= input("Name: ")
    fname1=input("Father Name: ")
    number1=input("Number: ")
    name.append(name1)
    fname.append(fname1)
    number.append(number1)
    
    more=input("Continue? ")
   
    
print(name)
print(fname)
print(number)

Name: Ishra
Father Name: Abdul Hussain
Number: 2328328392
Continue? y
Name: Sami Ullah
Father Name: Abdul Hussain
Number: 0495409540
Continue? y
Name: Bushra
Father Name: Jamil
Number: 872738238
Continue? n
['Ishra', 'Sami Ullah', 'Bushra']
['Abdul Hussain', 'Abdul Hussain', 'Jamil']
['2328328392', '0495409540', '872738238']

In [4]:
#Perform a task to print numbers from 990 to 1000 in descending order using for loop
for i in range(1000,989,-1):
    print(i)

1000
999
998
997
996
995
994
993
992
991
990

In [5]:
#Perform a task to print numbers from 990 to 1000 in descending order using while loop
counter = 1000
while counter>= 990: #counter<= 10 returns true or false
    print(counter)
    counter-=1 # decrement

1000
999
998
997
996
995
994
993
992
991
990

In [125]:
# Perform a task to print ascii codes of following asii code 65-90, 97-122, 47-72 and display in format as 
# A   a  0
# B   b  1 .....
for i in range(65,91,1):
    print(chr(i), " ", chr(i+32), " ", chr(i-17))

A   a   0
B   b   1
C   c   2
D   d   3
E   e   4
F   f   5
G   g   6
H   h   7
I   i   8
J   j   9
K   k   :
L   l   ;
M   m   <
N   n   =
O   o   >
P   p   ?
Q   q   @
R   r   A
S   s   B
T   t   C
U   u   D
V   v   E
W   w   F
X   x   G
Y   y   H
Z   z   I

In [13]:
#Perform a task to take input number from user to print tables upto that number following format e.g. user typed 3
#1 X 1 = 1	2 X 1 = 2	3 X 1 = 3
#1 X 2 = 2	2 X 2 = 4	3 X 2 = 6.....
table = input("Table upto: ")
tab=int(table)
j=1
for i in range(1,11):
    for j in range(1,tab+1): 
        print(j, 'X', i, "=", j*i, end='\t')
    print(end='\n')

Table upto: 5
1 X 1 = 1	2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5
1 X 2 = 2	2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10
1 X 3 = 3	2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15
1 X 4 = 4	2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20
1 X 5 = 5	2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25
1 X 6 = 6	2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30
1 X 7 = 7	2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35
1 X 8 = 8	2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40
1 X 9 = 9	2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45
1 X 10 = 10	2 X 10 = 20	3 X 10 = 30	4 X 10 = 40	5 X 10 = 50

In [1]:
# Perform a task that from a matrix if elements are divisible by 5 return row and column number
l= [[2,5,0], \
    [8,9,10],\
    [20,30,27], \
    [35,9,20]]
# enumerate is used to get loc
for ri,r in enumerate(l):
    for ci,c in enumerate(r):
        if c%5 == 0:
            print((ri,ci,c), end=" ")
    print()

(0, 1, 5) (0, 2, 0)
(1, 2, 10)
(2, 0, 20) (2, 1, 30)
(3, 0, 35) (3, 2, 20)

In [15]:
# Perform a task to print number divisible by 5,7, 20 in range 1-1000
for i in range(1, 1001):   
    if (i%5 == 0) or (i%7 == 0) or (i%20 == 0):
        print(i, end='\t')

5	7	10	14	15	20	21	25	28	30	35	40	42	45	49	50	55	56	60	63	65	70	75	77	80	84	85	90	91	95	98	100	105	110	112	115	119	120	125	126	130	133	135	140	145	147	150	154	155	160	161	165	168	170	175	180	182	185	189	190	195	196	200	203	205	210	215	217	220	224	225	230	231	235	238	240	245	250	252	255	259	260	265	266	270	273	275	280	285	287	290	294	295	300	301	305	308	310	315	320	322	325	329	330	335	336	340	343	345	350	355	357	360	364	365	370	371	375	378	380	385	390	392	395	399	400	405	406	410	413	415	420	425	427	430	434	435	440	441	445	448	450	455	460	462	465	469	470	475	476	480	483	485	490	495	497	500	504	505	510	511	515	518	520	525	530	532	535	539	540	545	546	550	553	555	560	565	567	570	574	575	580	581	585	588	590	595	600	602	605	609	610	615	616	620	623	625	630	635	637	640	644	645	650	651	655	658	660	665	670	672	675	679	680	685	686	690	693	695	700	705	707	710	714	715	720	721	725	728	730	735	740	742	745	749	750	755	756	760	763	765	770	775	777	780	784	785	790	791	795	798	800	805	810	812	815	819	820	825	826	830	833	835	840	845	847	850	854	855	860	861	865	868	870	875	880	882	885	889	890	895	896	900	903	905	910	915	917	920	924	925	930	931	935	938	940	945	950	952	955	959	960	965	966	970	973	975	980	985	987	990	994	995	1000