# Dictionaries

In [ ]:
#get certification of smarter way to learn python by online exercises by this week
#book python crash course study first 10 chapters (reference)
#study chapter 2 of data science from scratch (reference)

In [51]:
#python is dynamic datatype langauge, picks data type by itself
# list is accessed against index and it is difficult to get values against index
#list[item1, item2, item3,....]
#    0      1        2
l1=[123, 'Ishra', 'AI']
#     -3    -2      -1

In [52]:
# so we use dictionaries
#dict[item1, item2, item3,....]
#item=key:value
d1={"id":123 , 
    "name":"Ishra Hussain", 
    "course": "AI",
    "dob":"27-04-1996"}
d1

{'id': 123, 'name': 'Ishra Hussain', 'course': 'AI', 'dob': '27-04-1996'}

In [53]:
d1={} #empty dictionary, key should be unique
#adding items to dictionary against key
#dict[key]=value
d1["id"]=1
d1["name"]="Ishra"
d1["course"]="AI"

d1

{'id': 1, 'name': 'Ishra', 'course': 'AI'}

In [1]:
# user id, name, skills (multiple skills)
id1=input("id:")
name=input("Username:")
skill=['python']
skill1=input("Skills:")

#skill1=list(skill1)

skill.extend(skill1.split(','))
d1={"id":id1, "name":name, "skills":skill}
d1

id:1
Username:ishra
Skills:vb,c++,assembly,c

{'id': '1',
 'name': 'ishra',
 'skills': ['python', 'vb', 'c++', 'assembly', 'c']}

In [5]:
type(skill)

list

In [16]:
#to get value from list
#list[index]
#for dictionary
#dict[key]
d1["id"]

'123'

In [17]:
d1.clear()
d1

{}

In [18]:
d1={"id":123 , 
    "name":"Ishra Hussain", 
    "course": "AI",
    "dob":"27-04-1996"}
print(d1)
del d1 #delete removes it completely from memory
print(d1)

{'id': 123, 'name': 'Ishra Hussain', 'course': 'AI', 'dob': '27-04-1996'}

NameError: name 'd1' is not defined

In [19]:
d1={"id":123 , 
    "name":"Ishra Hussain", 
    "course": "AI",
    "dob":"27-04-1996"}

In [20]:
d2=d1.copy() #deep copy so pass by value, further changes in d1 wont change d2
d2

{'id': 123, 'name': 'Ishra Hussain', 'course': 'AI', 'dob': '27-04-1996'}

In [21]:
d1["Fname"]="abdul hussain"
print(d1)
print(d2)

{'id': 123, 'name': 'Ishra Hussain', 'course': 'AI', 'dob': '27-04-1996', 'Fname': 'abdul hussain'}
{'id': 123, 'name': 'Ishra Hussain', 'course': 'AI', 'dob': '27-04-1996'}

In [24]:
# user id, name, skills (multiple skills)
d1.clear()
key1=input("Enter First Key:")
key2=input("Enter second key:")
key3=input("enter third key:")

d1[key1]=''
d1[key2]=''
d1[key3]=''

d1

Enter First Key:EMP#
Enter second key:Ename
enter third key:Designation

{'EMP#': '', 'Ename': '', 'Designation': ''}

In [35]:
d1.clear()
key1=input("Enter 3 Keys seperated by comma:")
key1=key1.split(sep=',')

d1[key1[0]]="NA"
d1[key1[1]]="NA"
d1[key1[2]]="NA"
d1

Enter 3 Keys seperated by comma:id,name,fname

{'id': 'NA', 'name': 'NA', 'fname': 'NA'}

In [42]:
d1.clear()
key1=input("Enter Keys seperated by comma: ")
value1=input("Enter values seperated by comma: ")
key1=key1.split(sep=',')
value1=value1.split(sep=',')
i=0
for i in range(0,len(value1)):
    d1[key1[i]]=value1[i]
d1

Enter Keys seperated by comma:id,name,fname,dob
Enter values seperated by comma:12,ishra,abdul hussain, 27-04-1996

{'id': '12', 'name': 'ishra', 'fname': 'abdul hussain', 'dob': ' 27-04-1996'}

In [44]:
l1=['a', 'b', 'c']
l2=['x', 'y', 'z']
l3=list(zip(l1,l2))
print(l3)
d1=dict(l3)
d1

[('a', 'x'), ('b', 'y'), ('c', 'z')]

{'a': 'x', 'b': 'y', 'c': 'z'}

In [45]:
d1.clear()
key1=input("Enter Keys seperated by comma: ")
value1=input("Enter values seperated by comma: ")
key1=key1.split(sep=',')
value1=value1.split(sep=',')
l3=list(zip(key1,value1))
print(l3)
d1=dict(l3)
d1

Enter Keys seperated by comma: id,name,fname
Enter values seperated by comma: 12,ishra,abdul
[('id', '12'), ('name', 'ishra'), ('fname', 'abdul')]

{'id': '12', 'name': 'ishra', 'fname': 'abdul'}

In [46]:
d1.clear()
key1=input("Enter Keys seperated by comma: ").split(sep=',') #optimization to reduce number of lines in codes
value1=input("Enter values seperated by comma: ").split(sep=',')
l3=list(zip(key1,value1))
print(l3)
d1=dict(l3)
d1

Enter Keys seperated by comma: id,name,fname
Enter values seperated by comma: 12,ishra,abdul
[('id', '12'), ('name', 'ishra'), ('fname', 'abdul')]

{'id': '12', 'name': 'ishra', 'fname': 'abdul'}

In [49]:
print(d1.get('id')) #Return the value for key if key is in the dictionary, else default.
print(d1.get('salary')) #if key not available return none
print(d1.get('salary',"Key not found"))  #can also return any message

12
None
Key not found

In [55]:
d1={"id":123 , 
    "name":"Ishra Hussain", 
    "course": "AI",
    "dob":"27-04-1996"}
print(d1)
d1.items() #D.items() -> a set-like object providing a view on D's items

{'id': 123, 'name': 'Ishra Hussain', 'course': 'AI', 'dob': '27-04-1996'}

dict_items([('id', 123), ('name', 'Ishra Hussain'), ('course', 'AI'), ('dob', '27-04-1996')])

In [56]:
d1.keys()

dict_keys(['id', 'name', 'course', 'dob'])

In [57]:
d1.values()

dict_values([123, 'Ishra Hussain', 'AI', '27-04-1996'])

In [61]:
d1={"id":123 , 
    "name":"Ishra Hussain", 
    "course": "AI",
    "dob":"27-04-1996"}
print(d1)
popped=d1.pop('id')
print(popped)
d1

{'id': 123, 'name': 'Ishra Hussain', 'course': 'AI', 'dob': '27-04-1996'}
123

{'name': 'Ishra Hussain', 'course': 'AI', 'dob': '27-04-1996'}

In [62]:
d1={"id":123 , 
    "name":"Ishra Hussain", 
    "course": "AI",
    "dob":"27-04-1996"}
print(d1)
popped=d1.popitem()
popped

{'id': 123, 'name': 'Ishra Hussain', 'course': 'AI', 'dob': '27-04-1996'}

('dob', '27-04-1996')

In [64]:
d1={"id":123 , 
    "name":"Ishra Hussain", 
    "course": "AI",
    "dob":"27-04-1996"}
print(d1)
d1.setdefault('retire date', '20-12-2040') #Insert key with a value of default if key is not in the dictionary.
d1

{'id': 123, 'name': 'Ishra Hussain', 'course': 'AI', 'dob': '27-04-1996'}

{'id': 123,
 'name': 'Ishra Hussain',
 'course': 'AI',
 'dob': '27-04-1996',
 'retire date': '20-12-2040'}

In [67]:
d1={"id":123 , 
    "name":"Ishra Hussain", 
    "course": "AI",
    "dob":"27-04-1996"}

d2={"id":18900 , 
    "name":"Ishra Hussain", 
    "course": "AI",
    "retire":"27-04-2040"}
print(d1)
d1.update(d2) #Update from dict/iterable 
d1

{'id': 123, 'name': 'Ishra Hussain', 'course': 'AI', 'dob': '27-04-1996'}

{'id': 18900,
 'name': 'Ishra Hussain',
 'course': 'AI',
 'dob': '27-04-1996',
 'retire': '27-04-2040'}

In [73]:
#sort dictionary against key
d1
for i,j in sorted(d1.items(), reverse=True):
    print(i,j)

f 6
e 5
d 4
c 3
b 2
a 1

In [82]:
#sort dictionary against key
d1
list1=list(d1.keys())
slist=sorted(list1,reverse=True)
ndict={}
for i in slist:
    ndict[i]=d1[i]
ndict

{'f': 6, 'e': 5, 'd': 4, 'c': 3, 'b': 2, 'a': 1}

In [89]:
#sort dictionary against value
d1={'a': 2, 'b': 9, 'c': 3, 'd': 4, 'e': 5, 'f': 1}
{k:v for k,v in sorted(d1.items(),key= lambda item: item[1])}

{'f': 1, 'a': 2, 'c': 3, 'd': 4, 'e': 5, 'b': 9}

In [93]:
list(d1.items())

[('a', 2), ('b', 9), ('c', 3), ('d', 4), ('e', 5), ('f', 1)]

In [101]:
d1={'a': 2, 'b': 9, 'c': 3, 'd': 4, 'e': 5, 'f': 1}
d1.items() #returns tuple
#def abc(x):
#       return x[1]
sorted(d1.items(), key= lambda x:x[1], reverse=True) #lambda gives function in 1 line

[('b', 9), ('e', 5), ('d', 4), ('c', 3), ('a', 2), ('f', 1)]

In [102]:
d1={'a': 2, 'b': 9, 'c': 3, 'd': 4, 'e': 5, 'f': 1}
d1.items() #returns tuple
def abc(x): #function defined
      return x[1]
sorted(d1.items(), key= abc, reverse=True)

[('b', 9), ('e', 5), ('d', 4), ('c', 3), ('a', 2), ('f', 1)]

In [2]:
#takes keys and values of 3 person and add it to list using while loop
d1={}
l1=[]
i=0
while i<3:
    id1=input("id:")
    name=input("Username:")
    fname=input("fname:")
    d1={"id":id1, "name":name, "fname":fname}
    l1.append(d1)
    i+=1
l1

id:1
Username:ishra
fname:abdul
id:2
Username:rehan
fname:abdul
id:3
Username:sami
fname:abdul

[{'id': '1', 'name': 'ishra', 'fname': 'abdul'},
 {'id': '2', 'name': 'rehan', 'fname': 'abdul'},
 {'id': '3 ', 'name': 'sami', 'fname': 'abdul'}]

In [3]:
#takes keys and values from user and add it to list, continue adding as long as user wants to continue
d1={}
l1=[]
x=''
while x != 'n':
    id1=input("id:")
    name=input("Username:")
    fname=input("fname:")
    x=input("continue: y/n")
    d1={"id":id1, "name":name, "fname":fname}
    l1.append(d1) 
l1

id:1
Username:ishra
fname:abdul
continue: y/ny
id:2
Username:bushra
fname:jamil
continue: y/ny
id:3
Username:rehan
fname:abdul
continue: y/nn

[{'id': '1', 'name': 'ishra', 'fname': 'abdul'},
 {'id': '2', 'name': 'bushra', 'fname': 'jamil'},
 {'id': '3', 'name': 'rehan', 'fname': 'abdul'}]